@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply bg-navy-900 text-white antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }

  * {
    @apply border-navy-700;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-navy-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-navy-600 rounded-full;
  }
}
